# Database
DATABASE_URL=postgresql://postgres.<project_ref>:<password>@<pooler_host>:5432/postgres?sslmode=require
DIRECT_URL=postgresql://postgres.<project_ref>:<password>@<pooler_host>:5432/postgres?sslmode=require

# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_***
CLERK_SECRET_KEY=sk_***
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/
CLERK_WEBHOOK_SECRET=

# Admin
ADMIN_CLERK_ID=user_***
NEXT_PUBLIC_ADMIN_CLERK_ID=user_***

# AI
GEMINI_API_KEY=ai_***
OPENAI_API_KEY=sk_***

# Discord
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/***

# Stripe
NEXT_PUBLIC_STRIPE_LINK=https://buy.stripe.com/test_***
